body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-container {
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.cart-table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  padding: 0;
}

.cart-table-cell-50 {
  width: 50%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
}

.cart-table-cell-25 {
  width: 25%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
}

[class^='cart-table-cell-'] input {
  width: 50px;
}

.pointer {
  cursor: pointer;
}
